body, html {
  margin: 0;
}

#p5parent{
  position: fixed;
}

body{
  background-color: lightcoral;
}

.title{
  position: fixed;
  top: 300px;
  left: 300px;
  font-family: sans-serif;
  font-size: 90px;
  color: lightgreen;
}